*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background: #262a2f;

}
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
}
.container p {
    font-weight: 600px;
    font-size: 15px;
    margin-bottom: 8px;
}
.container input{
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    margin: 10px 0 20px;
}
.container button{
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: none;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}
#imagebox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}



#imagebox img{
    width: 100%;
    padding: 10px;
}
#imagebox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #1d1d11;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}